---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=431545406911968&client_secret=9806a77e7fc7f1843f392f1571f2e204&code=123&redirect_uri=http://localhost:3000/done
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_code" "Invalid verification code format."
      Facebook-Api-Version:
      - v1.0
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid verification code format.","type":"OAuthException","code":100}}'
  recorded_at: Sun, 01 Mar 2015 09:37:30 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=1&fields=name,picture,friends
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Sun, 01 Mar 2015 09:37:30 GMT
recorded_with: VCR 2.9.3
