---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=123&fields=name,picture,friends
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Sun, 01 Mar 2015 09:37:30 GMT
recorded_with: VCR 2.9.3
